{
  "extends": [
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/recommended",
    "plugin:n/recommended",
    "plugin:unicorn/recommended",
    "plugin:import/typescript",
    "plugin:import/recommended",
    "eslint:recommended",
    "prettier"
  ],
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "eslint-plugin-tsdoc"],
  "parserOptions": {
    "tsConfigRootDir": ".",
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "unicorn/filename-case": "off",
    "no-dupe-class-members": "off",
    "unicorn/prevent-abbreviations": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "n/no-missing-import": "off",
    "no-unused-vars": "off",
    "unicorn/import-style": "off",
    "tsdoc/syntax": "warn",
    "import/no-named-as-default-member": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "."
      }
    }
  }
}
